#emailVerifierContainer {
    display: flex;
    position: relative;
    top: -75px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #ffffff;
    border-radius: 10px; 
}

#emailVerifierContainer .email-verifier {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
}

#emailVerifierContainer .input-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#emailVerifierContainer .verification-input {
    width: 40px; 
    height: 40px; 
    font-size: 24px; 
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#emailVerifierContainer .verification-input:focus {
    border-color: #007bff;
    outline: none;
}

#emailVerifierContainer .button {
    width: 25%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

#emailVerifierContainer .button:hover {
    background-color: #393939; 
    color: #ffffff;
}
